.service {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin: 100px 170px;
}

.service-title {
    /* border: 2px solid red; */
    position: relative;
}

.service-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.service-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.service-format {
    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    height: 50vh;
    width: 22vw;
    gap: 20px;
    padding-right: 5px;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 55px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.5s;
    cursor: pointer;
    /* overflow: hidden; */
}

.services-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.service-format h2 {
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.service-format:hover {
    background: linear-gradient(45deg, #3f0028, #582300);
    border: 2px solid purple;
    transform: scale(1.05);
}

.service-readmore {
    /* border: 2px solid red; */
    user-select: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    font-size: 20px;
}

.service-desc {
    width: 10vw;
    height: 40vh;
    font-size: 20px;
    color: rgb(157, 175, 175);
    overflow-y: auto; 
    transition: all 0.3s ease;
    /* border: 2px solid red; */
    scrollbar-width: none; 
    padding-right: 70px;
}

.service-desc::-webkit-scrollbar {
    display: none;
}

.service-readmore img {
    width: 17px;
}

.service-readmore>p {
    color: rgb(157, 175, 175);
}
@media(max-width:768px){
    .service {
    /* border: 2px solid red; */
    width: 95vw;
    margin-left: 0;
}
    .service-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.service-title img {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 5px;
    width: 180px;
    z-index: -1;
}
.service-format {
    height: 40vh;
    width: 20vw;
    gap: 10px;
    /* overflow: hidden; */
}
.service-readmore img {
    width: 12px;
}
.service-readmore {
    /* border: 2px solid red; */
    user-select: none;
    display: flex;
    gap: 7px;
    margin-top: 10px;
    align-items: center;
    font-size: 16px;
}
.service-format h2 {
    font-size: 17px;
}
.service-desc {
    width: 10vw;
    height: 40vh;
    font-size: 15px;
    color: rgb(157, 175, 175);
    overflow-y: auto; 
    transition: all 0.3s ease;
    /* border: 2px solid red; */
    scrollbar-width: none; 
    padding-right: 70px;
}

}