.mywork {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin: 100px 170px;
}

.mywork-title {
    /* border: 2px solid red; */
    position: relative;
}

.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 83vh;
    width: 85vw;
    padding: 10px;
    overflow-y: hidden;
}
.mywork-container img{
    width: 25vw;
    transition: 0.5s ease-out;
    border: none;
    border-radius: 9px;
}
.mywork-container img:hover{
    transform: scale(1.05);
    border:4px solid purple;
    border-radius: 12px ;
}
.mywork-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.mywork-button:hover{
    transform: scaleX(1.15);
    gap: 20px;
}
.mywork-button p{
    font-size: 24px;
    font-weight: 500;
}
.mywork-button img{
    width: 20px;
}
.mywork-container.scroll-enabled {
    overflow-y: auto;         /* Enables vertical scrolling */
    scrollbar-width: none;    /* Firefox: hides scrollbar */
    height: 95vh;
}

/* Chrome, Edge, Safari */
.mywork-container.scroll-enabled::-webkit-scrollbar {
    display: none;
}
@media(max-width:768px){
    .mywork-title h1 {
    padding: 0px 30px;
    font-size: 46px;
    font-weight: 600;
}
.mywork-title img {
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 3px;
    z-index: -1;
    width: 180px;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 77vh;
    width: 85vw;
    padding: 10px;
    overflow-y: hidden;
}
.mywork-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.mywork-button p{
    font-size: 14px;
    font-weight: 500;
}
.mywork-button img{
    width: 17px;
}
}